@tailwind base;
@tailwind components;
@tailwind utilities;

.alumniCardSha {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  overflow: hidden !important;
}

.slick-dots li.slick-active button:before {
  color: #dd3333 !important;
}
.slick-dots li button:before {
  font-size: 10px !important;
}
.slick-dots :nth-child(1) {
  left: 10px !important;
}
